.App {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
}

.container .item1 {
  margin-top: 100px;
  margin-bottom: 40px;
  display: flex;
  justify-content:center;
  align-items:center;
}
.container .item2 {
  margin: 10px;
  display: flex;
  
  align-items:center;
}
.container .item3 {
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  justify-content:space-between;
  align-items:center;
  color: #999;
  font-size: 14px;
}
.container .check{
  width: 28px;
  height: 28px;
}
.container .stay{
  position: relative;
  top: -10px;
}

.container .sign {
  margin-top: 47px;
  margin-left: 34px;
  font: normal normal bold 24px/35px Poppins;
  display: flex;
  letter-spacing: 0px;
  color: #313131;
  opacity: 1;
}
.container .left_arrow {
  margin: 10px;
  display: flex;
  justify-content:left;
}

.container .item3 .find_id {
  color: #999;
  text-decoration-line: none;
}

.container .hint {
  display: flex;
  margin-top: -5px;
  margin-bottom: 10px;
  margin-right: 40px;
  justify-content:right;
  align-items:center;
  font-size: 12px;
  color: #999;
}
.container .signup {
  display: flex;
  justify-content:right;
  align-items:center;
  color: orange;
  font-weight: 700;
  margin-top: 10px;
  margin-right: 40px;
  font-size: 14px;
}

.container .signup .link_style {
  color: orange;
  text-decoration-line: none;
}

.enable_button {
  margin-top: 100px;
  margin-left: 30px;
  margin-right: 30px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 26px;
  font-weight: bold;
  width: 100%; /* 원하는 너비 설정 */
  height: 50px;
  color: white;
  background-color: orange;
  font-size: 15px;
  font-weight: 400;
  border-radius: 18px;
  border: orange;
  font-weight: 700;
}
.enable_button:active {
  margin-top: 100px;
  margin-left: 30px;
  margin-right: 30px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 26px;
  font-weight: bold;
  width: 100%; /* 원하는 너비 설정 */
  height: 50px;
  color: white;
  background-color: #999;
  font-size: 15px;
  font-weight: 400;
  border-radius: 18px;
  border: #999;
  font-weight: 700;
}

.disable_button {
  margin-top: 100px;
  margin-left: 30px;
  margin-right: 30px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 26px;
  font-weight: bold;
  width: 100%; /* 원하는 너비 설정 */
  height: 50px;
  color: white;
  background-color: #999;
  font-size: 13px;
  font-weight: 400;
  border-radius: 18px;
  border: orange;
}

.input {
  margin-left: 30px;
  margin-right: 30px;
  width: 100%; /* 원하는 너비 설정 */ 
  height: auto; /* 높이값 초기화 */ 
  line-height : normal; /* line-height 초기화 */ 
  padding: .8em .5em; /* 원하는 여백 설정, 상하단 여백으로 높이를 조절 */ 
  font-family: inherit; /* 폰트 상속 */ 
  border: 1px solid #999; 
  border-radius: 18px; /* iSO 둥근모서리 제거 */ 
  outline-style: none; /* 포커스시 발생하는 효과 제거를 원한다면 */ 
  -webkit-appearance: none; /* 브라우저별 기본 스타일링 제거 */ 
  -moz-appearance: none; appearance: none;
}

.container .bdlogo {
  background-color: #FABD2E;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content:center;
  align-items:center;
}